<div class="project-embed">
  <div class="plenty-video-frame">
    <iframe class="plenty-video-frame__player" width="960" height="540" src="https://www.youtube-nocookie.com/embed/A8vN94DucDs?autoplay=1&amp;mute=1&amp;loop=1&amp;playlist=A8vN94DucDs&amp;controls=1&amp;fs=1&amp;playsinline=1&amp;rel=0" title="Plenty smart fridge app video" allow="autoplay; encrypted-media; picture-in-picture; fullscreen" allowfullscreen referrerpolicy="strict-origin-when-cross-origin"></iframe>
  </div>
</div>
